/* GENERAL */


@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Ubuntu&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  width: 100%;
  background: #f6f6f6;
  font-family: 'Barlow', sans-serif;

}

html {
  scroll-behavior: smooth;
}

p {
  color: #555555;
}


/*start of header section*/
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: #f6f6f6;
  box-shadow: 0 9px 15px rgba(0, 0, 0, 0.05);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

#header .logo{
  width: 90px;
  
}


#header .icons div{
  height: 2.5rem;
  width: 2.5rem;
  padding: 8px;
  border-radius: .5rem;
  background: #eee;
  color: #1a1a1a;
  font-size: 1.5rem;
  margin-right: .3rem;
  text-align: center;
  cursor: pointer;
}

#header .icons div:hover{
  background: #7644da;
  color: #fff;
  
}



section {
  padding-top: 14vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
  flex-direction: row;
}

/* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 90vh;
}

.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
}

.section__text__p2 {
  font-size: 1.75rem;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
  letter-spacing: 2px;
  line-height: 80px;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}
#socials-container a i:hover{
color: #7644da;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}

i{
  color: #1a1a1a;
  font-size: 30px;
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-2{
  background-color: #f6f6f6;
  border: #4a4a4a 0.2rem solid;
  color: #151515;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
  border: #151515 0.2rem solid;
}

.btn-color-1,
.btn-color-2:hover {
  border: #151515 0.2rem solid;
  background: #151515;
  color: white;
}

.btn-color-1:hover{
  background: #f6f6f6;
  color: #151515;
}



.btn-container {
  gap: 1rem;
}

/* ABOUT SECTION */

#about {
  position: relative;
  /* margin-top: 100px; */
}

.about-containers {
  /* display: flex; */
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
}

.about-pic {
  border-radius: 2rem;
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: #f6f6f6;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.section-container {
  gap: 4rem;
  height: 80%;
}

.section__pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}
.text-container ul{
  color: #555555;;
  padding-left: 15px;
}

/* EXPERIENCE SECTION */

#experience {
  position: relative;
}

.experience-sub-title {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
  cursor: pointer;
}

article:hover{
  color: #7644da;
}

/* article .icon {
  cursor: default;
} */

/* PROJECTS SECTION */

#projects .pro-container{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}
#projects .pro{
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  margin: 0 0 25px 25px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.04);
  transition: 0.2s ease;
  position: relative;
}
#projects .pro:hover{
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.08);
}
#projects .pro img{
  width: 100%;
  border-radius: 20px;
}
#projects .pro .des{
  text-align: start;
  padding: 10px 0;

}

#projects .pro .des h5{
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 18px;
  margin: 15px 0px;

}
.view{
  font-size: 15px;
}

.project-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
}
.project-btn a{
  text-decoration: none;
}

.primary_btn {
  display: inline-block;
  color: #fff;
  letter-spacing: 0px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 46px;
  outline: none !important;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 5px;
  background-origin: border-box;
  background-clip: content-box, border-box;
  background-image: linear-gradient(to right, #4458dc 0%, #7644da 100%), radial-gradient(circle at top left, #4458dc, #151515);
  /* border: double 2px transparent; */
  box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3); 
  transition: all 3s ease-in;
}

.primary_btn span {
  padding: 0 42px; 
  text-decoration: none;
}
.primary_btn span i{
  margin-left: 5px;
  font-size: 15px; 
  color: #fff;
  
}

.primary_btn:hover span i{
  transform: translateX(5px);
}
 

/* CONTACT */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: (250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container a {
  margin: 10px;
}
.contact-info-container a i:hover{
 color: #7644da;
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}

/* FOOTER SECTION */

footer {
  height: 28vh;
  margin: 0 1rem;
}

footer p {
  text-align: center;
}
.tick{
  color: #151515;
  font-size: 25px;
}





/** extra Page*/


